.page_card_product{



    .wrapper_knife_Snegir{
        display: flex;
        justify-content: space-between;

        

        .container_big_photo{
            // box-shadow:5px 5px 25px rgba(0,0,0, .5);
            overflow:hidden;
            max-width: 100%;
            width: 100%;
            overflow: hidden;
            padding-bottom: 92px;
            img{
                display: block;
                width: 100%;
            }
            .thumbnail{
            display:flex;
            justify-content: space-between;
        
                .thumb{
                    // height:200px;
                    // width:200px;
                    transition:all .2s;
                    // object-fit:cover;
                    cursor:pointer;
                    width: 23%;
                    overflow: hidden;
                    img{
                        display: block;
                        width: 100%;
                    }
                    &:hover{
                    box-shadow: 3px 3px 20px ;
                    opacity:.8;
                    }
                }
            }
        }
            .desc{  
                position:relative;
                width: 100%;
                // max-height:574px;
                overflow:hidden;
            
                .imgsrc{
                    .prev{
                        object-fit:cover;
                        width:100%;
                        height:auto;
                        margin-bottom: 71px;
                        overflow: hidden;
                    }
                    img{
                        display: block;
                        width: 100%;

                    }
                }
            }
        
            @keyframes fade {
                to {
                opacity:1;
                }
            }
            
            .effect {
                opacity:0;
                animation: fade .2s forwards;
            }
            
            .active{
                opacity:.5;
            }

    }
    .wrapper_Snegir_right{
        border: 1px solid rgba(20, 20, 20, 0.15);
        background: #E5E5E5;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        padding: 30px;

        @media (max-width:1199px) {
            margin-left: 15px;
            margin-right: 15px;
        }
        @media (max-width:600px) {
            margin-left: 0px;
            margin-right: 0px;
        }
        
        h3{
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #141414;
            margin-bottom: 15px;
        }
        .Stars_Snegir{
            display: flex;
            justify-content: space-between;

            .Snegir_five_stsrs{

                display: flex;
                list-style-type: none;
                li{
                    &:before{
                        font-weight: 900;
                        font-family: "Font Awesome 6 Free";
                        content: "\f005";
                        color:#E8AA31;
                        font-size: 22px;
                        margin-right: 6px;

                    }
                }
            
            }
            .Snegir_card_price{
                list-style: none;
                display: flex;
                align-items: end;
                .Snegir_input_1{
    
                    input[type=checkbox] { display:none; } /* to hide the checkbox itself */
                    input[type=checkbox] + label:before {
                    font-family: FontAwesome;
                    display: inline-block;
                    font-size: 24px;
                    color:rgba(7, 7, 7, 0.92);
                    cursor: pointer;
                    }
    
                    input[type=checkbox] + label:before { content: "\f004"; margin-left: 10px;} /* unchecked icon */
                    input[type=checkbox] + label:before { letter-spacing: 0px; } /* space between checkbox and label */
    
                    input[type=checkbox]:checked + label:before { content: "\f004"; color:#E8AA31; } /* checked icon */
                    input[type=checkbox]:checked + label:before { letter-spacing: 0px; }
                }
                .Snegir_input_2{
    
                    input[type=checkbox] { display:none; } /* to hide the checkbox itself */
                    input[type=checkbox] + label:before {
                            font-family: FontAwesome;
                            display: inline-block;
                            font-size: 22px;
                            color:rgba(7, 7, 7, 0.92);
                            cursor: pointer;
                    }
                    input[type=checkbox] + label:before {           
                        content: "\f24e"; margin-left: 10px;} /* unchecked icon */
                    input[type=checkbox] + label:before { letter-spacing: 0px; } /* space between checkbox and label */
    
                    input[type=checkbox]:checked + label:before {   
                        // display: block;
                        // background-image: url('../img/Vesy.svg');
                        // content: '';
                        // background-size: cover;
                        // width: 24px;
                        // height: 22px;
                        content: "\f24e";
                        color:#E8AA31;
    
                    } /* checked icon */
                    input[type=checkbox]:checked + label:before { letter-spacing: 0px; }
                }
            
    
            }
        }
        p{
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #24AD53;
            margin-top: 15px;
            margin-bottom: 30px;
        }
        hr{
            border: 1px solid rgba(20, 20, 20, 0.15);
            margin-bottom: 20px;
        }
        .vendor_code{
            display: flex;
            ul:first-of-type{
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #141414;
                list-style: none;
                margin-right: 30px;
                li{
                    margin-bottom: 20px;
                }
                @media (max-width:500px) {
                    font-size: 16px;
                    line-height: 26px;
                }
                
            }
            ul:last-of-type{
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: rgba(20, 20, 20, 0.5);
                list-style: none;
                li{
                    margin-bottom: 20px;
                }
                @media (max-width:500px) {
                    font-size: 16px;
                    line-height: 22px;
                }

            }
            

        }
        .form_choice_steel{
            width: 100%;
            display: flex;
            flex-direction: column;
            @media (max-width:709px) {
                width: 154%;
            }



            .choice_steel_box{
                // max-width: 500px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                @media (max-width:709px) {
                    flex-direction: column;
    
                }
                p{
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #141414;
                    margin-right: 10px;
                    @media (max-width:709px) {
                        margin-bottom: auto;
                    }
                }
                option{
                    height: 25px;  

                }

                #choice_steel, #choice_handle, #choice_garda, #choice_blade_processing {
                    width: 65%;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    color: rgba(20, 20, 20, 0.5);
                    // margin-bottom: 20px;
                    padding: 11px;
                    background: #FEFEFE;
                    border: 1px solid rgba(4, 4, 4, 0.15);
                    border-radius: 3px;
                    &:hover{
                        @include focusForm;

                        // border:1px solid $colorOrange;
                        // outline: 0;
                        // box-shadow: 0 0 3px 1px $colorOrange;
                        // transition: 0.2s;
                    }


                }
                

            }

        }


        .price_knife{

            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width:600px) {
                flex-direction: column;

            }
            
            p{

            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            color: #000000;
            }
            // p:last-child{
            //     font-family: 'Montserrat', sans-serif;
            //     font-weight: 500;
            //     font-size: 14px;
            //     line-height: 17px;
            //     color: rgba(20, 20, 20, 0.5);
            // }


            .tooltip_box{
                display: flex;
                align-items: baseline;
                margin-right: 2px;
                margin-right: 10px;
                @media (max-width:600px) {
                    margin-right: 0px;
                    display: -webkit-box;

                }
    
                p{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: rgba(20, 20, 20, 0.5);
                }
                .tooltip-container {
                    cursor: pointer;
                    position: relative;
                    display: inline-block;
                    margin-left: 15px;
                    position: relative;
                    top: 2px;
                }
                .tooltip {
                    opacity: 0;
                    z-index: 99;
                    color: #bbb;
                    width: 390px;
                    display: block;
                    font-size: 11px;
                    padding: 20px 15px;
                    border-radius: 3px;
                    text-align: left;
        

                    border: 1px solid transparent;
                    -webkit-transition: all .2s ease-in-out;
                    -moz-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;
                    -ms-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
                    -webkit-transform: scale(0);
                    -moz-transform: scale(0);
                    -o-transform: scale(0);
                    -ms-transform: scale(0);
                    transform: scale(0);
                    position: absolute;
                    right: -16px;
                    bottom: 38px;
        
        
        
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    color: #141414;
                    background: $colorOrange;
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
                    @media (max-width:600px) {
                        width: 200px;
                        position: absolute;
                        right: 0px;
                        bottom: 38px;
                    }
                }
                
                .tooltip:before,.tooltip:after {
                    content: '';
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid $colorOrange;
                    position: absolute;
                    bottom: -9px;
                    left: 91%;
                }
                
                .tooltip-container:hover .tooltip,a:hover .tooltip {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    -o-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                }
            }










        }
        .shopping-card-items{
            // max-width: 500px;
            // width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width:1400px) {
                flex-direction: column;
            }
    
            .counter{
                display: flex;
                align-items: center;
                @media (max-width:1400px) {
                    align-self: flex-start;
                    margin-bottom: 30px;
                }
                @media (max-width:600px) {
                    align-self: center;
                    
                }

    
                #counter1{
                    width: 55px;
    
                    border: none;
                    text-align: center;
                    background: rgba(210, 210, 210, 0.07);
     
    
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #000000;
                }
                input[type='number'] {
                    -moz-appearance: textfield;
                }
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                }
                .btn-outline-success{
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                    background: #000;
                    color: white;
                    border: none;
                    font-size: 20px;
                    padding-bottom: 11px;
    
                }
                .btn-outline-success:focus {
                    box-shadow: 0 0 0 0.2rem transparent;
                }
                .counter-minus{
                    border-radius: 3px 0 0 3px ;
    
    
                }
                .counter-plus{
                    border-radius: 0 3px 3px 0;
    
                }
    
    
            }
            .box_buttons{

                display: flex;
                justify-content: flex-end;
                // @media (max-width:1400px) {
                //     flex-direction: column;
                // }
                @media (max-width:1400px) {
                    justify-content: space-around;
                }
                @media (max-width:615px) {
                    flex-direction: column;
                }


                .button{
                    width: 228px;

                    background: $colorOrange;
                    box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
                    border-radius: 3px;
                    // margin: auto;
                    text-align: center;
                    margin-left: 10px;
                    @media (max-width:1400px) {
                        margin-left: 0px;
                    }
                    @media (max-width:615px) {
                        margin-bottom: 30px;
    
                    }
        
                    :hover{
                        color: $colorOrange;
                        @include hover_border;
                        background: #141414;
                        
                    
                    }
                    a{
                        display: inline-block;
                        width: 100%;
                    @include Button;
                    border: 1px solid transparent;
                    }
                }
                .button_black{
                    width: 228px;

                    background: black;
                    box-shadow: 0px 4px 20px #1414147a;
                    border-radius: 3px;
                    margin: auto;
                    text-align: center;
                    margin-left: 10px;
                    @media (max-width:615px) {
                        margin-left: 0px;
                    }
        
                    :hover{
                        color: $colorBlack;
                        @include hover_border_black;
                        background:$colorOrange;
                        
                    
                    }
                    a{
                        display: inline-block;
                        width: 100%;
                    @include Button;
                    border: 1px solid transparent;
                    }
                }
            }


        }




        
 




        //!             __+++
    }
    







    
}
