.page_card_product .wrapper_knife_Snegir {
  display: flex;
  justify-content: space-between;
}

.page_card_product .wrapper_knife_Snegir .container_big_photo {
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  padding-bottom: 30px;
}

.page_card_product .wrapper_knife_Snegir .container_big_photo img {
  display: block;
  width: 100%;
}

.page_card_product .wrapper_knife_Snegir .container_big_photo .thumbnail {
  display: flex;
  justify-content: space-between;
}

.page_card_product .wrapper_knife_Snegir .container_big_photo .thumbnail .thumb {
  transition: all .2s;
  cursor: pointer;
  width: 23%;
  overflow: hidden;
}

.page_card_product .wrapper_knife_Snegir .container_big_photo .thumbnail .thumb img {
  display: block;
  width: 100%;
}

.page_card_product .wrapper_knife_Snegir .container_big_photo .thumbnail .thumb:hover {
  box-shadow: 3px 3px 20px;
  opacity: .8;
}

.page_card_product .wrapper_knife_Snegir .desc {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.page_card_product .wrapper_knife_Snegir .desc .imgsrc .prev {
  object-fit: cover;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  overflow: hidden;
}

.page_card_product .wrapper_knife_Snegir .desc .imgsrc img {
  display: block;
  width: 100%;
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

.page_card_product .wrapper_knife_Snegir .effect {
  opacity: 0;
  animation: fade .2s forwards;
}

.page_card_product .wrapper_knife_Snegir .active {
  opacity: .5;
}

.page_card_product .wrapper_Snegir_right {
  border: 1px solid rgba(20, 20, 20, 0.15);
  background: #E5E5E5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.page_card_product .wrapper_Snegir_right h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #141414;
  margin-bottom: 15px;
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir {
  display: flex;
  justify-content: space-between;
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir .Snegir_five_stsrs {
  display: flex;
  list-style-type: none;
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir .Snegir_five_stsrs li:before {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  content: "\f005";
  color: #E8AA31;
  font-size: 22px;
  margin-right: 6px;
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir .Snegir_card_price {
  list-style: none;
  display: flex;
  align-items: end;
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir .Snegir_card_price .Snegir_input_1 {
  /* to hide the checkbox itself */
  /* unchecked icon */
  /* space between checkbox and label */
  /* checked icon */
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir .Snegir_card_price .Snegir_input_1 input[type=checkbox] {
  display: none;
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir .Snegir_card_price .Snegir_input_1 input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 24px;
  color: rgba(7, 7, 7, 0.92);
  cursor: pointer;
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir .Snegir_card_price .Snegir_input_1 input[type=checkbox] + label:before {
  content: "\f004";
  margin-left: 10px;
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir .Snegir_card_price .Snegir_input_1 input[type=checkbox] + label:before {
  letter-spacing: 0px;
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir .Snegir_card_price .Snegir_input_1 input[type=checkbox]:checked + label:before {
  content: "\f004";
  color: #E8AA31;
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir .Snegir_card_price .Snegir_input_1 input[type=checkbox]:checked + label:before {
  letter-spacing: 0px;
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir .Snegir_card_price .Snegir_input_2 {
  /* to hide the checkbox itself */
  /* unchecked icon */
  /* space between checkbox and label */
  /* checked icon */
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir .Snegir_card_price .Snegir_input_2 input[type=checkbox] {
  display: none;
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir .Snegir_card_price .Snegir_input_2 input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 22px;
  color: rgba(7, 7, 7, 0.92);
  cursor: pointer;
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir .Snegir_card_price .Snegir_input_2 input[type=checkbox] + label:before {
  content: "\f24e";
  margin-left: 10px;
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir .Snegir_card_price .Snegir_input_2 input[type=checkbox] + label:before {
  letter-spacing: 0px;
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir .Snegir_card_price .Snegir_input_2 input[type=checkbox]:checked + label:before {
  content: "\f24e";
  color: #E8AA31;
}

.page_card_product .wrapper_Snegir_right .Stars_Snegir .Snegir_card_price .Snegir_input_2 input[type=checkbox]:checked + label:before {
  letter-spacing: 0px;
}

.page_card_product .wrapper_Snegir_right p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #24AD53;
  margin-top: 15px;
  margin-bottom: 30px;
}

.page_card_product .wrapper_Snegir_right hr {
  border: 1px solid rgba(20, 20, 20, 0.15);
  margin-bottom: 20px;
}

.page_card_product .wrapper_Snegir_right .vendor_code {
  display: flex;
}

.page_card_product .wrapper_Snegir_right .vendor_code ul:first-of-type {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #141414;
  list-style: none;
  margin-right: 30px;
}

.page_card_product .wrapper_Snegir_right .vendor_code ul:first-of-type li {
  margin-bottom: 20px;
}

.page_card_product .wrapper_Snegir_right .vendor_code ul:last-of-type {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(20, 20, 20, 0.5);
  list-style: none;
}

.page_card_product .wrapper_Snegir_right .vendor_code ul:last-of-type li {
  margin-bottom: 20px;
}

.page_card_product .wrapper_Snegir_right .u-flex-center {
  display: flex;
  justify-content: center;
}

.page_card_product .wrapper_Snegir_right .u-flex-center .textbox {
  border: 0;
  padding: 0.9375em 0.9375em;
  height: 50px;
  width: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  background: rgba(210, 210, 210, 0.07);
  border-radius: 3px;
  text-align: center;
}

.page_card_product .wrapper_Snegir_right .u-flex-center #items-count:focus {
  outline: none;
  border-left: 7px solid var(--primary-1);
}

.page_card_product .wrapper_Snegir_right .u-flex-center input[type='number'] {
  -moz-appearance: textfield;
}

.page_card_product .wrapper_Snegir_right .u-flex-center input::-webkit-outer-spin-button,
.page_card_product .wrapper_Snegir_right .u-flex-center input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.page_card_product .wrapper_Snegir_right .u-flex-center .btn {
  border-radius: 0.2143em;
  display: inline-block;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.929em 2.857em;
  border: 0;
  transition: background-color 200ms, color 200ms;
}

.page_card_product .wrapper_Snegir_right .u-flex-center .btn:focus {
  box-shadow: 0 0 0 0.2rem transparent;
}

.page_card_product .wrapper_Snegir_right .u-flex-center .btn--accent:active {
  color: white;
  background-color: black;
}

.page_card_product .wrapper_Snegir_right .u-flex-center .btn--short {
  padding: 0.625em 1.25em;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  width: 50px;
}

.page_card_product .wrapper_Snegir_right .u-col-gap1 {
  display: flex;
  justify-content: flex-start;
}

.page_card_product .wrapper_Snegir_right .price_knife {
  display: flex;
  justify-content: space-between;
}

.page_card_product .wrapper_Snegir_right .price_knife p:first-child {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
}

.page_card_product .wrapper_Snegir_right .price_knife p:last-child {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(20, 20, 20, 0.5);
}

.page_card_product .wrapper_Snegir_right .price_knife [data-title] {
  font-size: 25px;
  /*optional styling*/
  position: relative;
  cursor: help;
  border-radius: 50%;
  padding: 5px;
  background: red;
  height: 25px;
}

.page_card_product .wrapper_Snegir_right .price_knife [data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  right: 15px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
}

.page_card_product .wrapper_Snegir_right .price_knife [data-title]:hover::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 8px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;
  border-bottom: 8px solid #000;
}
