.logo_form{
    background: #ECF1F2;
    padding-top: 24px;
    padding-bottom: 24px;

    
    .row{
        flex-wrap: wrap;
        @media (max-width:1342px) {
            flex-direction: column;
            }



        .logo{
            width: 189px;
            img{
                width: 100%;
                display: block;
            }
        }

        .search_logo_form{
            max-width: 377px;
            width: 100%;
            position: relative;
            ::before{
                background-image: url('../img/Glass_loop.svg');
                content: '';
                display: inline-block;
                width: 11px;
                height: 11px;
                position: absolute;
                top: 20px;
                left: 24px;
            }
            :hover{
                @include hover_border;
            }
            :focus {
                @include focusForm ;
              }
            input{
                width: 98%;  
                border: 1px solid rgba(4, 4, 4, 0.5);
                border-radius: 3px ;
                padding: 12px 20px 12px 44px;
              

                ::placeholder{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: rgba(0, 0, 0, 0.5);
                    
                }
            }
        }
        .choice_city_form{
            .cities{
                
                ::before{
                    background-image: url('../img/Icon_Location.svg');
                    content: '';
                    display: inline-block;
                    width: 17px;
                    height: 25px;
                    position: relative;
                    top: 5px;
                    left: -12px;
                }
            }



        .phones{
            margin-right: 125px;
            label{
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #E8AA31;

            }
            #choice_phone{
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
                border: none;
                background: #ECF1F2;
            }
        }
        #choice_city{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            border: none;
            appearance: none;
            background: #ECF1F2;
        }
    }      
    .basket_box{
        display: flex;
        list-style: none;
        position: relative;
            li{
                :hover{
                    text-decoration: none;
                    color: $colorBlack;
                    transition: 0.2s;
                    // @include focusForm;
                    // padding: 5px 2px;

                    
            }

            }
            li:first-child {
                ::before{
                    background-image: url('../img/Icon_Like.svg');
                    content: '';
                    background-size: cover;
                    display: inline-block;
                    width: 28px;
                    height: 26px;
                    position: absolute;
                    top: 2px;
                    left: -100px;
            }
            }
            li:nth-child(2) {
                ::before{
                    background-image: url('../img/Icon_basket.svg');
                    background-size: cover;
                    content: '';
                    display: inline-block;
                    width: 37px;
                    height: 26px;
                    position: absolute;
                    top: 2px;
                    left: -55px;
            }
            }
            a{
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #E8AA31;

                :hover{
                    color: #14df44;
                }

            }


        
    }
    }




}