.main_section {
  background-image: url("../img/BG_Main_section.jpg");
  background-size: cover;
}

.main_section .row .main_section_left h1 {
  color: #FFFFFF;
  padding-top: 48px;
  padding-bottom: 30px;
}

.main_section .row .main_section_left p {
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 62px;
}

.main_section .row .main_section_right {
  max-width: 448px;
  width: 100%;
  padding-top: 36px;
  padding-bottom: 60px;
}

.main_section .row .main_section_right img {
  width: 100%;
  display: block;
}

.main_section ul {
  list-style: none;
}

.main_section ul p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}
