.menu{
	background-color: $colorBlack;



	.navbar-toggler{
		color: $colorOrange;
		background: $colorOrange;
	}
	.navbar-light{
		.navbar-nav{
			li{
				:hover{
					color: $colorOrange;
				
				}
				.dropdown-menu{
					border-bottom: 2px solid transparent;
				}
			}
			.nav-link {
				font-family: 'Montserrat', sans-serif;
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				color: #FFFFFF;
				border-bottom: 2px solid transparent;
				
				}

		} 


	} 
	.navbar-nav{
		width: 100%;
		display: flex;
		justify-content: space-between;
		

	}
	.navbar{
		padding-left: 0px;
		padding-right: 0px;

		.icon_user{
			display: none;
			text-decoration: none;
			color: white;

			@media (max-width:800px){
				display:inline-block;

		}
	}

	}

}

.megamenu-li {
	position: static;
	
	
	
}

.megamenu {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	padding: 15px;
	background: $colorBlack;
	
	@media (max-width:800px){
		padding: 0px;
    }
	.row{
		margin-right: -25px;
		margin-left: -25px;
		color: white;

	
		div{
			:first-child{
				font-weight: 700;
				font-size: 16px;
				line-height: 50px;
				color: #e4c27e;

				
			}
		border-bottom: 2px solid transparent;
		:hover{
			border-bottom: 2px solid $colorOrange;
			
		}

			a{
				background-color: #141414;

			}
		}
	
		.dropdown-item{
			color: white;
	        border-bottom: 2px solid #3D3D3D;
			
		}
	}

}

