.our_articles{
    background-color: #E5E5E5;
    padding-bottom: 60px;


    h3{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #141414;
        margin-bottom: 30px;
        @media (max-width:760px) {
            text-align: center;
          }
    }
    .our_articles_flex{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        @media (max-width:1529px) {
            justify-content: space-around;
          }
          

        .our_articles_box:nth-child(3){
            h4{
                margin-bottom: 40px;
            }

        }
        .our_articles_box:nth-child(4){
            h4{
                margin-bottom: 40px;
            }

        }



        .our_articles_box{
            max-width: 375px;
            width: 100%;
            background: #FEFEFE;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            padding: inherit;
            padding-bottom: 20px;
            margin-bottom: 25px;
            .article_img{
                margin-bottom: 20px;
                img{
                    display: block;
                    width: 100%;
                }
            
            }
            h4{
                :hover{
                    @include hover;
                    text-decoration: none;
                }
                a{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 34px;
                    color: #141414;
                    padding-left: 30px;
                    padding-right: 30px;
                    margin-bottom: 8px;
                    
                }
               
            }
            p{
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 34px;
                color: #ABABAB;
                padding-left: 30px;


            }
        }

    }


}