.page_down {
  background-color: #141414;
  padding-top: 102px;
  padding-bottom: 50px;
}

.page_down .row_page_down .page_down_box ul {
  list-style: none;
}

.page_down .row_page_down .page_down_box ul a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 23px;
}

.page_down .row_page_down .page_down_box ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}

.page_down .row_page_down .page_down_box ul li a :hover {
  @in;
}
