// font-family: 'Montserrat', sans-serif;

@import "bootstrap.css";
@import "https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css";
// @import "https://resources/demos/style.css";

@import "mixins";
@import "header";
@import "logo_form";
@import "menu";

*{

    box-sizing: border-box;
}
ul{
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: 0px;



}

.container{
    max-width: 1592px;
    margin: auto;



}